.grid{
    position: fixed;
    display: grid;
    grid-template: repeat(3,10vw)/repeat(3,10vw);
    left: 30vw;
    top: 24vh;
}

.grid>button{
    font-size: 500%;
}
.grid>h1{
    font-size: 300%;
}
.title{position: fixed;
    font-size: 400%;
    left: 35vw;
}